@{
    ViewData["Title"] = "Profile";
    ViewData["Heading"]= "Profile";
    var user = new UserModel
    {
        id = 1,
        Username = "sampleUser",
        Password = "samplePassword",
        Email = "sena.oz@boun.edu.tr",
        UserImageLink = "https://media.licdn.com/dms/image/D4D03AQFd9MdgsxoUxA/profile-displayphoto-shrink_400_400/0/1664549186379?e=1689811200&v=beta&t=JFQzqCi0hKSnQ3VsNTguiTQCW0Z8aIyZGf4Liq_dgV0",
        Name = "Sena",
        Surname = "Oz",
        Description = "Lorem ipsum dolor sit amet."
    };
    
     var favRecipes = new[]
{
    new { 
        Name = "Spaghetti Bolognese", 
        Category = "Main",
        Writer = "Jane Smith",
        WriterImg = "https://www.venmond.com/demo/vendroid/img/avatar/big.jpg",
        ImageLink = "https://recipetineats.com/wp-content/uploads/2018/07/Spaghetti-Bolognese.jpg", 
        Ingredients = new[] { "Ground Beef", "Onion", "Garlic", "Tomato Sauce", "Italian Seasoning", "Spaghetti" },
        Instructions = "1. In a large skillet, cook ground beef over medium heat until browned. 2. Add chopped onion and minced garlic, and cook until onion is tender. 3. Stir in tomato sauce and Italian seasoning. Simmer for 20 minutes. 4. Cook spaghetti according to package instructions. 5. Serve the Bolognese sauce over the cooked spaghetti."
    },
    new { 
        Name = "Caesar Salad", 
        Category = "Salads",
        Writer = "Ömer Akkuş",
        WriterImg = "https://media.licdn.com/dms/image/D4D03AQEFlNRHEL4Eng/profile-displayphoto-shrink_400_400/0/1680866789498?e=1691020800&v=beta&t=e9YngYURQfklRO6lfCcH9p3PmUhu4hbWYBDYFKpEIcE",
        ImageLink = "https://www.jessicagavin.com/wp-content/uploads/2022/06/chicken-caesar-salad-28-1200.jpg", 
        Ingredients = new[] { "Romaine Lettuce", "Croutons", "Parmesan Cheese", "Caesar Dressing" },
        Instructions = "1. Tear the romaine lettuce into bite-sized pieces. 2. Add croutons and grated Parmesan cheese. 3. Drizzle Caesar dressing over the salad. 4. Toss the ingredients until well coated. 5. Serve immediately."
    },
    new { 
        Name = "Chicken Stir-Fry", 
        Category = "Main",
        Writer = "Aleyna Hasagdas",
        WriterImg = "https://media.licdn.com/dms/image/C4E03AQEC3hYIl73W8A/profile-displayphoto-shrink_400_400/0/1649196909464?e=1691020800&v=beta&t=VoM9D_kGSOz_YmYJOjRdK83chMO283zrN44dcwmcCLg",
        ImageLink = "https://www.saltandlavender.com/wp-content/uploads/2020/07/teriyaki-chicken-stir-fry-recipe-2.jpg",
        Ingredients = new[] { "Chicken Breast", "Bell Pepper", "Broccoli", "Carrot", "Garlic", "Ginger", "Soy Sauce", "Sesame Oil" },
        Instructions = "1. Cut chicken breast into bite-sized pieces. 2. Heat oil in a wok or large skillet over high heat. 3. Add minced garlic and grated ginger, and cook for 1 minute. 4. Add chicken and stir-fry until cooked through. 5. Add sliced bell pepper, broccoli florets, and julienned carrot. Stir-fry for a few more minutes until vegetables are tender-crisp. 6. In a small bowl, whisk together soy sauce and sesame oil. 7. Pour the sauce over the stir-fry and toss to coat. 8. Serve hot with steamed rice or noodles."
    },
    new { 
        Name = "Caprese Salad", 
        Category = "Salads",
        Writer = "David Miller",
        WriterImg = "https://media.istockphoto.com/id/1300512215/photo/headshot-portrait-of-smiling-ethnic-businessman-in-office.jpg?b=1&s=612x612&w=0&k=20&c=5QE_Qf5Vth9bCHcD5OpdZ1PoPhn36j3GtRVzaFAa22c=",
        ImageLink = "https://www.wholesomeyum.com/wp-content/uploads/2022/05/wholesomeyum-Caprese-Salad-5.jpg",
        Ingredients = new[] { "Tomatoes", "Fresh Mozzarella", "Fresh Basil", "Extra Virgin Olive Oil", "Balsamic Glaze", "Salt", "Pepper" },
        Instructions = "1. Slice tomatoes and fresh mozzarella into rounds. 2. Arrange tomato and mozzarella slices on a platter. 3. Tear fresh basil leaves and scatter over the tomatoes and mozzarella. 4. Drizzle with extra virgin olive oil and balsamic glaze. 5. Sprinkle with salt and pepper to taste. 6. Serve as a side dish or appetizer."
    }

};

}

<div class="container">
    <div id="profile" class="page-container">
        <div class="profile">
            <img src=@user.UserImageLink alt="profile"/>
            <h4>@user.Name @user.Surname</h4>
            @user.Description <br/>
            @user.Email
        </div>
    </div>
    <br/>
    <div class="favorites">
                @foreach (var recipe in favRecipes)
                {
                    <div class="favorite content-container">
                        <a href="/recipes/detail?term=@recipe.Name">
                            <img src=@recipe.ImageLink alt="recipe"/>
                        </a>
                        <h6>How to make @recipe.Name?</h6>
                        <div class="mini-profile">
                                                <img src=@recipe.WriterImg />
                                                <p class="description">
                                                    by @recipe.Writer
                                                    </p>
                                            </div>
                    </div>
                }
            </div>
</div>