@model Recipe

@{
    ViewData["Title"] = "Recipe Detail";
    
    string[] ingredients = Model.Ingredients!.Split(new[] { ", " }, StringSplitOptions.RemoveEmptyEntries);

}

<div class="container">
    <div id="recipeDetail" class="page-container">
        <h4>@Model.Name</h4>
        <img src="@Model.Image" alt="Recipe"/>
        <p style="margin-bottom: 0">
            <b>Category:</b> @Model.Category<br>
            <b>Date Added:</b> @Model.date_added ✨
        </p>

        <h5>Ingredients</h5>
        <div style="width: 100%; display: flex; flex-direction: column; gap: 20px;">
            @foreach (var ingredient in ingredients)
            {
                <span class="field" style="background-color: rgba(229,229,229,0.65); font-weight: 600;">@ingredient</span>
            }
        </div>
        
        <h5>Instructions</h5>
        <p>
            @Model.Instructions
        </p>
        
        @using (Html.BeginForm("Delete", "Recipes", new { id = Model.Id }, FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="form-group">
                <label><b>Are you sure you want to delete this recipe?</b></label>
                <input type="submit" value="Delete" class="btn btn-danger"/>
            </div>
        }
    </div>
</div>