@model RecipeAleyna.Models.Recipe
@{
    ViewData["Title"] = "Recipe Detail";
    
    string[] ingredients = Model.Ingredients.Split(new[] { ", " }, StringSplitOptions.RemoveEmptyEntries);

}

<div class="container">
    <div id="recipeDetail" class="page-container">
        <h4>@Model.Name</h4>
        <img src="@Model.Image" alt="Recipe"/>
        <p style="margin-bottom: 0">
            <b>Category:</b> @Model.Category<br>
            <b>Date Added:</b> @Model.date_added ✨
        </p>
        <div class="rating">
          <input type="radio" id="star5" name="rating" value="5">
          <label for="star5"></label>
          <input type="radio" id="star4" name="rating" value="4">
          <label for="star4"></label>
          <input type="radio" id="star3" name="rating" value="3">
          <label for="star3"></label>
          <input type="radio" id="star2" name="rating" value="2">
          <label for="star2"></label>
          <input type="radio" id="star1" name="rating" value="1">
          <label for="star1"></label>
        </div>

        <h5>Ingredients</h5>
        <div style="width: 100%; display: flex; flex-direction: column; gap: 20px;">
            @foreach (var ingredient in ingredients)
            {
                <span class="field" style="background-color: rgba(229,229,229,0.65); font-weight: 600;">@ingredient</span>
            }
        </div>
        
        <h5>Instructions</h5>
        <p>
            @Model.Instructions
        </p>
    </div>
</div>